@font-face {
  font-family: 'Caveat-Medium';
  src: url('../fonts/Caveat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Geologica-Medium';
  src: url('../fonts/Geologica-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Geologica-ExtraLight';
  src: url('../fonts/Geologica-ExtraLight.ttf') format('truetype');
}
