@media screen and (min-width: 768px) {
    .gridContainer {
        display: grid;
        column-gap: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .profileImage {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .contactDetails {
        color: white;
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
    }
}

.profileImage > img {
    width: 300px;
    height: auto;
}

.socialAccountsList {
    list-style-type: none;
}

.linkedin {

}

.instagram {

}

.github {

}

@media screen and (max-width: 768px) {
    .gridContainer {
        display: grid;
        row-gap: 50px;
    }

    .profileImage {
        grid-row: 1;
    }
    
    .contactDetails {
        grid-row: 2;
    }
}