@import url('../../../public/fonts/styles/fonts.css');

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height: 100vh;
}

.profilePic {
	width: 300px;
	height: auto;
	border-radius: 10px;
}

.contactInfo {
	color: white;
	font-family: 'Geologica-ExtraLight', sans-serif;
	font-size: 20px;
	padding: 0 20px;
}

.contactInfo a {
	color: aquamarine;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}
	.profilePic {
		width: 250px;
		height: auto;
	}
	.contactInfo {
		font-size: 15px;
		padding: 20px 0;
	}
}