.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bodySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.helloText {
  font-size: 70px;
  font-weight: 200;
  width: 300px;
  text-align: center;
  z-index: 2;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.descriptionText {
  font-size: 18px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameText {
  font-size: 30px;
  font-weight: 300;
  width: 250px;
  height: auto;
  text-align: center;
  padding-bottom: 20px;
}

.profileImage > img {
  border-radius: 50%;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .content {
    padding: 4rem;
  }
}