@import url('../../public/fonts/styles/fonts.css');

.bodySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  min-height: 100vh;
}

.helloText {
  font-size: 50px;
  font-weight: 200;
  font-family: 'Geologica-Medium', sans-serif;
  color: white;
  width: 300px;
  text-align: center;
  z-index: 2;
}

.nameText {
  font-size: 50px;
  font-weight: 300;
  font-family: 'Caveat-Medium', cursive;
  width: auto;
  height: auto;
  text-align: center;
  color: #00FFFF;
}

.profileImage {
  width: 200px;
  height: 200px;
}

.profileImage > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.descriptionText {
  color: #f5fefd;
  font-size: 18px;
  font-weight: 200;
  font-family: 'Geologica-ExtraLight', sans-serif;
  text-align: center;
}

.technologies {
  min-height: 50px;
  width: auto;
}

.technologies > span {
  font-size: 15px;
  font-weight: normal;
  font-family: 'Geologica-ExtraLight', sans-serif;
  padding: 10px;
  display: inline-block;
  margin: 2px 2px !important;
  border-radius: 2px;
  transition: 0.3s;
}

.technologies > span:hover {
  font-size: 20px;
  padding: 10px;
  margin: 0 4px;
  cursor: pointer;
}

.javascriptText {
  color: black;
  background-color: #F0DB4F;
}

.reactText {
  color: black;
  background-color: #61dbfb;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.nextText {
  color: black;
  background-color: white;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.nodeText {
  color: white;
  background-color: #3c873a;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.htmlText {
  color: white;
  background-color: #f06529;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.cssText {
  color: white;
  background-color: #2965f1;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.bootstrapText {
  color: white;
  background-color: #563d7c;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.shopifyText {
  color: white;
  background-color: #95BF47;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.bigCommerceText {
  color: black;
  background-color: white;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .content {
    padding: 4rem;
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  .bodySection {
    row-gap: 40px;
  }

  .helloText {
    font-size: 30px;
  }

  .nameText {
    font-size: 35px;
  }

  .profileImage {
    width: 150px;
    height: 150px;
  }
  
  .description {
    padding: 0 20px;
  }

  .descriptionText {
    font-size: 14px;
  }

  .technologies {
    text-align: center;
    height: 100px;
  }

  .technologies > span {
    font-size: 12px;
    padding: 7px;
    margin: 0 1px;
  }
  
  .technologies > span:hover {
    font-size: 15px;
    padding: 7px;
    margin: 0 2px;
  }
}