@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bodySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.helloText {
  font-size: 70px;
  font-weight: 200;
  width: 300px;
  text-align: center;
  z-index: 2;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameText {
  font-size: 50px;
  font-weight: 300;
  font-family: 'Caveat', cursive;
  width: auto;
  height: auto;
  text-align: center;
  padding-bottom: 20px;
  color: #00FFFF;
}

.descriptionText {
  color: #f5fefd;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.javascriptText {
  color: black;
  background-color: #F0DB4F;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.reactText {
  color: black;
  background-color: #61dbfb;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.nextText {
  color: black;
  background-color: white;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.nodeText {
  color: white;
  background-color: #3c873a;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.htmlText {
  color: white;
  background-color: #e34c26;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.cssText {
  color: white;
  background-color: #2965f1;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.bootstrapText {
  color: white;
  background-color: #563d7c;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.shopifyText {
  color: white;
  background-color: #95BF47;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.bigCommerceText {
  color: black;
  background-color: white;
  font-weight: 300;
  padding: 4px;
  margin: 0 2px;
}

.profileImage > img {
  border-radius: 50%;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .content {
    padding: 4rem;
  }
}